.modal-dialog {
	max-width: 70% !important;
	max-height: 30vh !important;
}
.modal-header .close span{
	color: #000 !important;
	display: block;
}
.modal-header {
	border-bottom: none !important;
}
.modal-content {
	max-width: 50%;
	min-width: 620px;
	margin: 0 auto;
}
.modal-content,
.modal-content .close {
	background: white;
}
.modal-header,
.modal-footer {
	border-bottom: none;
	border-top: none;
}
.modal-footer .row {
	width: 100%;
}
.modal-footer {
	font-size: 2rem;
	font-weight: 500;
	border-top: none !important;
}
.modal-footer ul li li {
	list-style: none;
}
.modal-body img {
	min-width: 430px ;
}
.modal-img {
	box-shadow: 1px 7px 13px 3px gray;
	max-width: 23% !important;
	margin: 1%;
}
.modal-img:active {
	box-shadow: none;
}
@media only screen and (max-device-width: 920px) {
	.modal-content{
		min-width: 80vw !important;
	}
	.modal-body img {
		min-width: 78vw !important;
	}
}
@media only screen and (max-device-width: 768px) {
	.crud-create-header {
		font-size: 9vw !important;
	}
	.modal-footer {
		font-size: 5vw;
	}
	.modal-footer ul {
		padding-inline-start: 0px;
	}
}
@media only screen and (max-device-width: 576px) {
	.modal-content {
		width: 96vw;
	}
}
