.new-cocktails {
	text-align: center;
}

@media only screen and (max-device-width: 991px) {
.searchbar {
	display: flex;
	justify-content: center;
	width: 80% !important;
	}
.searchbar input,
.searchbar button {
	min-height: 3.26rem;
	font-size: 3vw;
	display: flex;
	justify-content: center;
}
.searchbar input {
	border: 1px solid darkgray;
}
.searchbar button {
	background-color: darkgray;
	border: 0;
	align-items: center;
	width: 136px;
}
.searchbar form {
	display: flex;
	justify-content: center;
}
}