
@media only screen and (min-width: 920px) {
.searchbar form {
	font-size: 1vw !important;
		border-right: none;
}
.searchbar input,
.searchbar button {
	min-height: 2.7vw;
}
.searchbar button {
	border: none;
}
}
